<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body onload="getCard()">

    <div class="container-principal" id="main-container">

        <div class="contenedor-card">

            <div class="contenedor-imagen" id="contenedor-imagen">
                <img class="imagen" id="foto">
            </div>

            <div class="contenedor-texto" id="contenedor-texto">
                <div class="nombre" id="name"></div>
                <div class="type" id="type"></div>
                <div class="mana" id="mana"></div>
                <div class="stats" id="stats"></div>
                <div class="text" id="text"></div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>

</body>
</html>